@font-face {
  font-family: clock;
  src: url('../../fonts/NovaDisplayRegular-x3w8O.otf');
}

.time {
  font-family: clock , sans-serif;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 6380a25... add cor critica a tempo abaixo de 10s
  font-size: xx-large;
}

.time_critical {
  color: red;
<<<<<<< HEAD
=======
  font-size: xxx-large;
>>>>>>> df7f757... add timer.css
=======
>>>>>>> 6380a25... add cor critica a tempo abaixo de 10s
}
